[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.Chess
Exec=/usr/bin/ru.template.Chess
Name=Chess
Name[ru]=Шахматы

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=Chess
ExecDBus=/usr/bin/ru.template.Chess
